<!-- templates/registration/password_change.html -->
{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<div style="width: 100%">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="generic_container user_form">
      <form method="post">
        <h2>Change Password</h2>
        {% csrf_token %}
        {{ form.as_div }}
        <br>
        <button type="submit" class="basic_button" style="margin: 0 auto; display: block">Change Password</button>
      </form>
    </div>
  </div>
  <div class="col-3"></div>
</div>
{% endblock %}