{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="graph_container"> 
  <a class="basic_button" href="#">Back</a>
  <br>
  <div class="graph">
    {{bar_plot|safe}}  <!--We need the safe to make the plot visible-->
  </div>

  <div class="stock_r_col">
    <div class="stock_info">  <!--This holds various data for the stock-->
      <table>
        <tr>
          <td>Last Price: </td>
          <td>{{ stock_info.lastPrice }}</td>
        </tr>
        <tr>
          <td>Previous Close: </td>
          <td>{{ stock_info.previousClose }}</td>
        </tr>
        <tr>
          <td>Open: </td>
          <td>{{ stock_info.open }}</td>
        </tr>
        <tr>
          <td>Year High: </td>
          <td>{{ stock_info.yearHigh }}</td>
        </tr>
        <tr>
          <td>Year Low: </td>
          <td>{{ stock_info.yearLow }}</td>
        </tr>
        <tr>
          <td>Last Volume: </td>
          <td>{{ stock_info.lastVolume }}</td>
        </tr>
        <tr>
          <td>Year High: </td>
          <td>{{ stock_info.yearHigh }}</td>
        </tr>
        <tr>
          <td>Year Low: </td>
          <td>{{ stock_info.yearLow }}</td>
        </tr>
        <tr>
          <td>Year Change: </td>
          <td>{{ stock_info.yearChange }}</td>
        </tr>
        <tr>
          <td>Currency: </td>
          <td>{{ stock_info.currency }}</td>
        </tr>
      </table>
    </div>
    <!--Change Date Range-->
    <div class="dropdown">
      <button class="basic_button" style="width: 100%; margin-bottom: 0%;">
        Change Graph Date Range
      </button>
      <div class="dropdown-content">  <!--Drop down menu-->
        <a href="{% url 'view_stock' ticker=ticker period=1 prediction_date=prediction_date%}">Day</a>
        <a href="{% url 'view_stock' ticker=ticker period=2 prediction_date=prediction_date%}">Five Days</a>
        <a href="{% url 'view_stock' ticker=ticker period=3 prediction_date=prediction_date%}">Month</a>
        <a href="{% url 'view_stock' ticker=ticker period=4 prediction_date=prediction_date%}">Three Months</a>
        <a href="{% url 'view_stock' ticker=ticker period=5 prediction_date=prediction_date%}">Six Months</a>
        <a href="{% url 'view_stock' ticker=ticker period=6 prediction_date=prediction_date%}">Year</a>
      </div>
    </div>
  </div>
  {{ form }}
  
</div>

<!--View past predictions-->
{% include "predictions.html" %}

{% endblock %}